@import 'main-blog';

.blog {
  $post_height: 522px;

  &__filter {
    position: relative;

    height: 88px;

    margin-bottom: 138px;

    &-list {
      @include size(100%);


      display: flex;


      @include breakpoint($mobile__all) {
        flex-direction: column;

        position: absolute;
        top: 94px;
        z-index: z(content);

        max-height: 0;
        overflow: hidden;

        border-radius: 4px;
      }

    }

    &-item {
      flex: 1;
      align-items: center;
      justify-content: space-around;

      display: flex;

      border: 1px solid $color__dark_6;

      cursor: pointer;

      transition: background-color ease .4s;

      span:first-child {
        @include title-link;
      }

      &-value {

        @include body-tertiary;
        padding: 2px 4px;

        border-radius: 4px;

        background-color: $color__gray_light;
      }

      &--active {
        background-color: $color__dark;

        color: $color__font_light--primary;

        .blog__filter-item-value {
          background-color: $color__light_6;
        }
      }

      @include breakpoint($mobile__all) {

        &:nth-of-type(2) {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }

        &:last-child {
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }

    }

    &-toggle {
      justify-content: space-between;

      display: none;
      width: 100%;

      padding: 32px;
      border: 1px solid $color__dark_6;
      border-radius: 4px;

      &-wrap {
        align-items: center;

        display: flex;
      }

      .arrow {
        display: none;

        margin-left: 20px;

        background-color: transparent;

        &:after {
          @include pseudoElement(12px, 'ArrowWhite.svg');
          position: relative;
        }
      }

      @include breakpoint($mobile__all) {
        display: flex;
      }
    }

    &--active {
      @include breakpoint($mobile__all) {

        .blog__filter-list {
          max-height: unset !important;
          overflow: unset !important;
        }

        .blog__filter-item {
          justify-content: space-between;

          padding: 10px 33px;

          border: none;

          &:nth-of-type(1) {
            display: none;
          }
        }

        .arrow {
          display: block;

        }
      }

    }

    @include breakpoint($phone__all) {
      margin-bottom: 30px;
    }
  }

  &__more {
    @include title-link;
    margin: 0 auto;
  }

  &__posts {
    @extend .main-blog__posts;
    max-height: $post_height *2 + 100px;
    overflow: hidden;
    grid-row-gap: 64px;

    &--show-more {
      max-height: 2000px;
    }
  }

}

