.case {
  $case_height: 355px;

  &__heading {

    display: grid;

    h2 {
      grid-area: title;
    }

    grid: {
      gap: 24px;
      template: {
        areas: 'title title' 'button tags';

        columns: 4fr 8fr;
      };
    };
  }

  &__button {
    grid-area: button;
  }

  &__tags {
    grid-area: tags;

    display: flex;
    justify-self: end;
    @include breakpoint($phone__all) {
      flex-wrap: wrap;
    }
  }

  &__main {
    display: grid;
    grid-template-columns: repeat(2, 6fr);
    grid-gap: 24px;

    &-team {
      position: relative;

      display: grid;
      height: fit-content;
      grid-template-columns: repeat(3, 200px);
      grid-auto-rows: 150px;
      grid-gap: 24px;

      &:after {
        @include divider;
        content: '';

        position: absolute;
        @include breakpoint($mobile__all) {
          display: none;
        }
      }
      @include breakpoint($tablet__landscape) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include breakpoint($phone__all) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &-img {

      img {
        @include size(100%);
        object-fit: cover;
      }
    }

    @include breakpoint($tablet__portrait) {
      flex-direction: column;

      display: flex;
    }
    @include breakpoint($phone__all) {
      flex-direction: column;

      display: flex;
    }
  }

  &__items {
    flex-direction: column;

    display: flex;
    max-height: $case_height *4;
    overflow: hidden;

    &--show-more {
      max-height: 20000px;
    }
  }

  &__review {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;

    .divider {
      display: none;
    }

    &-img {
      border-radius: 50%;
    }

    &-name {
      margin-top: 17px;
    }

    &-role {
      @include body-tertiary;
      margin-bottom: 60px;

      color: $color__primary;
    }

    &-text {
      @include h5;
    }

    &-content {

    }
    @include breakpoint($portrait__all) {
      flex-direction: column;

      display: flex;
    }
  }
}
