.lead-section {

  &__content {
    justify-content: space-between;

    display: grid;

    padding: 32px 0;
    grid: {
      template: {
        columns: 8fr 4fr;
        rows: auto;
      };
    }

    @include breakpoint ($tablet__portrait) {
      flex-direction: column;

      display: flex;
    }
    @include breakpoint ($phone__all) {
      flex-direction: column;

      display: flex;
    }
  }

  &__contact {
    justify-content: flex-end;

    display: flex;
    @include breakpoint ($tablet__portrait) {
      justify-content: flex-start;

      .user-info__contact-info {
        align-self: flex-start;
      }

      .user-info__img {
        justify-content: flex-start;
      }
    }
    @include breakpoint ($phone__all) {
      justify-content: flex-start;
    }
  }

  &__header {
    @include h3;
    @include breakpoint ($tablet__portrait) {
      margin-bottom: 26px;
    }
    @include breakpoint ($phone__all) {
      margin-bottom: 20px;

      font-size: 32px;
      letter-spacing: -1.8px;
      line-height: 32px;
    }
  }

  @include breakpoint ($phone__all) {
    padding-top: 30px;
    padding-bottom: 0;
    .user-info__contact-info{
      align-self: flex-start;
    }
    .user-info__img {
      justify-content: flex-start;
    }
  }
}
