.lead-section {

  &__content {
    justify-content: space-between;

    display: grid;

    padding: 32px 0;
    grid: {
      template: {
        columns: 8fr 4fr;
        rows: auto;
      };
    }
  }

  &__img {
    margin-bottom: 8px;

    img {
      border-radius: 50%;
    }
  }

  &__text {
    @include body-secondary;
    color: $color__font--quaternary;
  }

  &__name {
    @include h6;
  }

  &__contact {
    justify-content: flex-end;

    display: flex;

    &-info {
      align-self: flex-end;

      margin-right: 40px;
    }

    &-tags {
      align-self: flex-end;

      display: flex;
    }

  }

  &__header {
    @include h3;
  }

  &__contact {
    display: flex;
  }
}
