.main-section {
  flex-direction: column;
  justify-content: flex-end;

  display: flex;
  height: 100vh;

  &__wrap {
    justify-content: space-between;

    display: flex;
    //transform: translateY(-50px);
    width: 100%;

    margin-bottom: 48px;
    @include breakpoint ($phone__all) {
      margin-bottom: 24px;
    }
  }

  &__title {
    max-width: 700px;

    padding-top: 32px;

    h1 {
      @include h2;
      line-height: 44px;

    }
    @include breakpoint ($phone__all) {

      h1 {
        @include h4;
      }

      .text-flip {
        display: none !important;
      }
    }
  }

  &__tags {
    align-items: center;
    justify-content: space-between;

    display: flex;
    width: 100%;

    &-wrap {
      display: flex;
    }

    a:last-child {
      margin-right: 0;
    }
    @include breakpoint ($phone__all) {
      flex-direction: column;
      align-items: flex-start;

      p {
        margin-bottom: 16px;
      }

      &-wrap {
        flex-wrap: wrap;

        a {
          margin-bottom: 8px;
        }
      }
    }
  }

  &__footer {
    @extend %footer-component;

  }

  &__navigation {
    //padding-bottom: 20px;
    @include breakpoint ($mobile__all) {
      display: none !important;
    }
  }

  .divider {
    position: absolute;
    top: 0;
    bottom: unset;
  }
}
