.main-about {
  padding-top: 114px;
.section__header .divider:first-child {
  display: none;
}
  &__title {
    @include h3;
    max-width: 730px;
     @include breakpoint ($tablet__portrait) {
         max-width: 608px;
      }
  }

  &__content {
    padding-top: 37px;
  }

  &__images {
    display: grid;

    padding-bottom: 32px;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 26px;


  }

  &__img {
    align-self: flex-start;

    display: flex;

    img {
      @include size(100%);
      object-fit: contain;
    }
  }

  &__grid {
    display: grid;
    grid: {
      gap: 24px;
      template: {
        areas: 'item1 . item3' '. item2 item3';

        columns: repeat(3,1fr);
        rows: repeat(2,240px);
      };
    }

    &-item {
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          grid-area: item#{$i};
        }
      }
      align-items: center;

      display: flex;
      justify-self: center;

      dt {
        @include h1;
        margin-right: 12px;

        color: $color__font--primary;
      }

      dl {
        @include h6;
        max-width: 40px;

        color: $color__font-dark--quaternary;
      }
    }
  }
}
