@import 'main-slider';

.main-section {

  background-color: $color__dark;

  .container {
    flex-direction: column;
    justify-content: flex-end;

    display: flex;
    height: 100vh;
    @include breakpoint($phone__landscape) {
      height: auto;
      min-height: 100vh;

      padding-top: 80px;

      .main-section__title {
        padding-top: 500px;
      }

      .main-section__circle {
        display: none;
      }
    }
  }

  &__wrap {
    justify-content: space-between;

    display: flex;
    //transform: translateY(-50px);
    width: 100%;

    margin-bottom: 48px;
    @include breakpoint($phone__all) {
      margin-bottom: 24px;
    }
  }

  &__title {
    position: relative;
    z-index: z(content);

    max-width: 910px;

    padding-top: 32px;

    h1 {
      color: $color__font_light--primary;
    }

    @include breakpoint($phone__all) {

      h1 {
        @include h4;
        color: #fafcfd;

        transition: color ease 1s;
      }

      .text-flip {
        display: none !important;
      }
    }
  }

  &__smile {
    @include pseudoElement(60px, 'smile.svg');
    position: relative;
    top: -10px;
    left: 10px;
    z-index: z(content);

    display: inline-block;
    @include breakpoint($tablet__portrait) {
      @include size(48px);
    }
    @include breakpoint($phone__all) {
      @include size(28px);
      display: inline-block;
    }
  }

  &__circle {
    @include size(180px);
    position: relative;

    display: inline-block;

    padding: 10px;

    border: 1px solid $color__light_16;

    border-radius: 50%;

    &:after {
      @include size(160px);
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;

      border-radius: 50%;

      transform: translate(-50%, -50%);
      background: {
        image: url('/img/main/circle.jpg');
        size: cover;
      };
    }

    @include breakpoint($phone__all) {
      display: none;
    }

  }

  &__tags {
    align-items: center;
    justify-content: space-between;

    display: flex;
    width: 100%;

    &-wrap {
      display: flex;
    }

    .button-tag {
      background-color: $color__light_16;

      color: $color__font_light--primary;
    }

    p {
      color: $color__font--tertiary;
    }

    a:last-child {
      margin-right: 0;
    }

    @include breakpoint($phone__all) {
      flex-direction: column;
      align-items: flex-start;

      p {
        margin-bottom: 16px;
      }

      &-wrap {
        flex-wrap: wrap;

        a {
          margin-bottom: 8px;
        }
      }
    }
  }

  &__footer {
    @extend %footer-component;
    position: relative;
    z-index: z(content);

    hr.divider {

      position: absolute;
      top: 0;
      bottom: unset;

      max-width: 0;

      &.divider-anim {
        max-width: 100%;
      }
    }
  }

  &__navigation {
    position: relative;
    z-index: z(content);


    .navigation__link {
      margin-top: auto;


    }

    .link__wrap {
      color: $color__font_light--primary;
    }

    @include breakpoint($desktop__all) {
      padding-bottom: 32px;

      .navigation__list {
        margin-top: auto;
      }

    }

    @include breakpoint($mobile__all) {
      display: none !important;
    }
  }

}
