.main-about {
  padding-top: 114px;

  .section__header .divider:first-child {
    display: none;
  }

  &__title {
    @include h3;
    max-width: 730px;
    @include breakpoint($tablet__portrait) {
      max-width: 608px;
    }
    @include breakpoint($phone__all) {
      @include h4;
      margin-bottom: 24px;
    }
  }

  &__content {
    padding-top: 37px;
    @include breakpoint($phone__all) {
      padding-top: 27px;
    }
  }

  &__slider {
    display: none;
    @include breakpoint(0px 1024px) {
      display: block;
    }
  }

  &__images {

    @include breakpoint($desktop__all) {
      display: grid;

      padding-bottom: 32px;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 26px;
    }
    @include breakpoint($tablet__landscape) {
      display: grid;

      padding-bottom: 32px;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 26px;
    }
    @include breakpoint($mobile__all) {
      display: none;
      height: unset !important;
    }
  }

  &__img {
    overflow: hidden;

    border-radius: 4px;
    height: fit-content;

    img {
      border-radius: 4px;
      width: 100%;
      height: auto;
      object-fit: contain;
      object-position: top;
    }

    /*   @mixin img-fit {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-position: top;
        object-fit: cover;
        border-radius: 4px;
      }
    }*/

    /* img {
      @include size(100%);
      object-fit: contain;
    }*/


    @include breakpoint($mobile__all) {
      //@include img-fit;
    }


  }

  &__grid {
    flex-direction: column;

    display: grid;

    padding-top: 84px;
    grid: {
      gap: 24px;
      template: {

        columns: repeat(3, 1fr);
        areas: 'item1 . item3' '. item2 item3';
        rows: repeat(2, 240px);
      };
    }

    &-item {
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          grid-area: item#{$i};
        }
      }

      align-items: center;

      display: flex;
      justify-self: center;

      dt {
        @include h1;
        margin-right: 24px;

        color: $color__font--primary;
        @include breakpoint($phone__all) {
          @include h2;
        }
      }

      dl {
        @include h6;
        max-width: 40px;

        color: $color__font-dark--quaternary;
        @include breakpoint($mobile__all) {
          max-width: unset;
        }
        @include breakpoint($phone__all) {
          max-width: unset;

          margin-top: 16px;
          margin-bottom: 0;
        }
      }

      @include breakpoint($phone__all) {
        flex-direction: column;
        align-items: flex-start;

        margin-bottom: 76px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    @include breakpoint($phone__all) {
      display: flex;

      padding-top: 0;
    }
  }

  .hooper {
    height: auto;

    padding-bottom: 32px;

    &-list {
      overflow: visible;
    }

    &-slide {
      //width: 565px;
      //height: 742px;

      margin-right: 36px;
      @include breakpoint($phone__all) {
        height: auto;
      }
      @include breakpoint($mobile__all) {

        &:nth-of-type(2) {

          img {
            object-fit: cover;
          }
        }
      }

    }

    &-pagination {
      width: 100%;
      height: 2px;

      padding: 0;

      transform: translateX(50%) translateY(2px);
    }

    &-indicators {
      width: inherit;

      li {
        flex: 1;

        position: relative;
      }
    }

    &-indicator {
      width: inherit;

      margin: 0;

      background-color: transparent;


      &.is-active {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: $color__dark;

        transition: background-color ease 1s;
      }


    }

    @include breakpoint($phone__all) {
      //height: 385px;
    }
  }

  .section__header-wrap {

    @include breakpoint($phone__all) {
      flex-direction: column;
    }
  }

  .section__elem {
    @include breakpoint($phone__all) {
      align-self: flex-start;

      transform: translateX(-24px);
    }

  }

  .divider-mobile {
    display: none;
    @include breakpoint($phone__all) {
      display: block;

      margin-top: 72px;
      margin-bottom: 84px;
    }
  }

  @include breakpoint($mobile__all) {

    & > .container {
      padding-right: 0;
    }

    .section__header {
      padding-right: 24px;
    }
  }
  @include breakpoint($phone__all) {
    padding: 0;

  }

}
