.main-services {

  .section__header {
    position: relative;

    &:after {
      @include pseudoElement(100%);
      @include divider;
      position: absolute;
      top: -24px;
      bottom: unset;

    }


  }

  &__content {
    padding-top: 183px;
    @include breakpoint ($phone__all) {
      padding-top: 0;
    }
  }

   @include breakpoint ($phone__all) {
     padding-bottom: 0;
    }
}
