.footer {
  $nav_gap: 122px;
  $tablet_gap: 88px;
  padding-top: 84px;

  &__logo {
    grid-area: logo;

    align-self: center;
  }

  &__top {
    display: grid;
    grid: {
      template: {
        columns: 2.75fr repeat(2,2fr) 1.5fr repeat(2,1.75fr);
        rows: 80px;
        areas: 'logo nav . . button1 button2';
      };
    };

    &-btn1 {
      grid-area: button1;
      justify-self: end;
      @include breakpoint ($tablet__landscape) {
        justify-self: center;
      }
      @include breakpoint ($tablet__portrait) {
        justify-self: center;
      }
    }

    &-btn2 {
      grid-area: button2;
      justify-self: end;
      @include breakpoint ($tablet__portrait) {
        justify-self: center;

        width: 152px;
      }
      @include breakpoint ($phone__all) {
        display: none;
      }
    }


    @include breakpoint($tablet__large-portrait) {
      grid: {
        template: {
          columns: repeat(2,2fr) repeat(2,1fr);
          areas: 'logo . button1 button2';
        };
      };
    }
    @include breakpoint($tablet__landscape) {
      grid: {
        template: {
          columns: repeat(2,2fr) repeat(2,1fr);
          areas: 'logo . button1 button2';
        };
      };
    }
    @include breakpoint ($tablet__portrait) {
      grid: {
        column-gap: 24px;
        template: {
          columns: repeat(3,2fr);
          areas: 'logo button1 button2';
        };
      }
    }
    @include breakpoint ($phone__all) {
      justify-content: space-between;

      display: flex;

      padding: 24px 0;
    }
  }

  &__main {
    display: grid;

    padding: 52px 0 31px;

    grid: {
      template: {
        columns: 2.75fr repeat(2,2fr) 1.5fr 3.5fr;
        rows: 240px - 83px;
        areas: 'mail nav address . button';
      };
    }

    &-title {
      @include body-secondary;
      color: $color__font_dark--quaternary;
    }

    &-link {
      margin-bottom: 37px;

      color: $color__font--primary;

      span {
        letter-spacing: -.045em;
        line-height: 24px;
        font: {
          size: 24px;
          weight: 500;
        }
      }
      @include breakpoint ($phone__all) {
        margin-bottom: 32px;
      }
    }

    &-mail {
      grid-area: mail;
    }

    &-nav {
      grid-area: nav;

      .navigation {

        &__list {
          align-items: flex-start !important;
          justify-content: space-between;

          height: 136px;
        }

        &__item:last-child {
          margin-top: 0;
        }
      }

      @include breakpoint ($tablet__portrait) {
        justify-self: center;
      }
      @include breakpoint ($phone__all) {
        margin-bottom: 40px;
      }
    }

    &-address {
      grid-area: address;

      padding-left: $nav_gap / 2;

      li:last-child {
        margin-top: 11px;
      }

      .link {
        color: $color__font--primary;
      }
      @include breakpoint ($tablet__portrait) {
        max-width: 152px;
        justify-self: center;
      }
      @include breakpoint($mobile__all) {
        padding-left: 0;
      }
      @include breakpoint ($phone__all) {
        margin-bottom: 12px;

        ul  li:first-child {
          max-width: 150px;
        }
      }
    }

    &-button {
      @include title-link;

      align-self: end;

      position: relative;
      top: -5px;

      grid-area: button;
      justify-self: end;

      button {
        align-items: center;

        display: flex;


        span {
          @include size(70px);
          position: relative;


          margin-left: 18px;

          border: 1px solid $color__dark_6;
          border-radius: 50%;

          &:before {
            @include pseudoElement(20px, 'Arrow.svg');
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
      }

    }

    &-list {
      @include breakpoint ($phone__all) {
        margin-bottom: 38px;
      }
    }
    @include breakpoint($tablet__large-portrait) {
      grid: {
        row-gap: 40px;
        template: {
          columns: 2fr repeat(4,1fr);
          rows: auto;
          areas: 'mail nav address . button';
        };
      };
    }
    @include breakpoint($tablet__landscape) {
      grid: {
        row-gap: 40px;
        template: {
          columns: 2fr repeat(4,1fr);
          rows: auto;
          areas: 'mail nav address . button';
        };
      };
    }
    @include breakpoint ($tablet__portrait) {
      padding-bottom: 24px;
      grid: {
        column-gap: 24px;
        row-gap: 40px;
        template: {
          columns: repeat(3,2fr);
          rows: repeat(2,auto);
          areas: 'mail nav address' '. . button';
        };
      }
    }
    @include breakpoint ($phone__all) {
      flex-direction: column;

      display: flex;

      padding-top: 40px;
    }

  }

  &__bottom {
    @extend %footer-component;


    &-tags {
      display: flex;
    }
    @include breakpoint ($phone__all) {
      flex-direction: column;
      //padding-top: 32px;
      display: flex;
      min-height: unset;

      .footer-tags {
        max-width: unset;

        margin-top: 16px;
      }
    }
  }

  &__nav {
    grid-area: nav;

    display: grid;
    grid: {
      template-columns: repeat(2, 1fr);

      column-gap: $nav_gap;
    }

    li {
      align-self: center;
    }

    a {
      @extend h4;
      align-items: center;

      position: relative;

      display: flex;

      color: $color__font--primary;

      &:after {
        @include pseudoElement(24px, 'Arrow.svg');
        position: relative;

        margin-left: 1rem;
      }
    }

    @include breakpoint($mobile__all) {
      display: none;
    }
  }

  &__copyright {
    @include body-tertiary;
    color: $color__font_dark--tertiary;
    @include breakpoint ($phone__all) {
      align-self: flex-start;
    }
  }
  @include breakpoint ($phone__all) {
    padding-bottom: 18px;
  }
}
