@import 'popup';

.header-menu {
  @extend .popup;
  z-index: z(header);

  overflow: hidden;

  opacity: 0;

  transition: opacity ease $menu_animation $items_animation;

  .container {
    opacity: 0;

    transition: opacity ease 1s;
  }

  &__body {
    @extend .popup__body;
    align-items: flex-end;
    justify-content: space-between;

    padding-bottom: 7%;
    padding-top: $header_height;
    @include breakpoint($desktop__laptop) {
      padding-bottom: 0;
    }

  }

  &__links {
    padding-right: 300px;
  }

  &__elem {

    width: 345px;
    height: 62px;
    overflow: hidden;
  }

  &__item {
    display: flex;

    color: $color__dark;
    letter-spacing: -.056em;
    line-height: 60px;

    font: {
      weight: 500;
      size: 54px;
    };
    transform: translateY(100%);
    opacity: 0;

    transition: transform $header_fu $items_animation, opacity $header_fu $items_animation, color ease .3s;

    span {
      @include caption-normal;
      position: relative;
      top: 10px;
      left: 10px;

    }

    &:hover {
      color: $color__dark;

      span {
        color: $color__primary;
      }
    }
  }

  &__nav {
    align-items: center;

    display: flex;

    &--hover {

      a {
        color: $color__font_dark--quaternary;

        transition-delay: 0s !important;
      }
    }

    ul {
      flex-direction: column;
      justify-content: space-between;

      display: flex;
      height: 380px;
    }
  }

  &--active {
    opacity: 1;

    transition: opacity ease $menu_animation;

    .container {
      opacity: 1;

      transition: opacity ease 1s $menu_animation;
    }

    .header-menu__item {
      transform: translateY(0);
      opacity: 1;

      transition: transform $header_fu $items_animation $menu_animation, opacity $header_fu $items_animation $menu_animation, color ease .3s;
    }
  }

}
