@import 'popup';

.header-menu {
  @extend .popup;

  z-index: z(header);

  overflow: hidden;

  opacity: 0;

  transition: opacity ease $menu_animation $items_animation;

  .container {
    opacity: 0;

    transition: opacity ease 1s;
  }

  &__body {
    @extend .popup__body;
    align-items: flex-end;
    justify-content: space-between;

    padding-top: $header_height;

    padding-bottom: 7%;
    @include breakpoint($desktop__laptop) {
      //padding-bottom: 0;
    }

  }

  &__links {
    padding-right: 300px;

    li {
      @for $i from 1 through 2 {
        &:nth-of-type(#{$i}) {
          transition-delay: #{$i* .1s};
        }
      }
      transform: translateY(100%);
      opacity: 0;

      transition: all $header_fu $items_animation;
    }

  }

  &__elem {

    width: 345px;
    height: 62px;
    overflow: hidden;
  }

  &__item {

    display: flex;

    color: $color__dark;
    letter-spacing: -.056em;
    line-height: 60px;

    transform: translateY(100%);
    opacity: 0;

    transition: transform $header_fu $items_animation, opacity $header_fu $items_animation, color ease .3s;

    font: {
      weight: 500;
      size: 54px;
    };

    span {
      @include caption-normal;
      position: relative;
      top: 10px;
      left: 10px;
    }

    &:hover {
      color: $color__dark;

      span {
        color: $color__primary;
      }
    }
  }

  &__nav {
    align-items: center;

    display: flex;

    &--hover {
      transition-delay: 0s;

      a {
        color: $color__font_dark--quaternary;

        transition-delay: 0s !important;
      }
    }

    ul {
      flex-direction: column;
      justify-content: space-between;

      display: flex;
      height: 380px;
    }
  }

  &--animation-in-progress {

    .header-menu__elem {
      @for $i from 1 through 6 {
        &:nth-of-type(#{$i}) .header-menu__item {
          transition-delay: #{$i * .1s};
        }
      }
    }
  }

  &--active {
    opacity: 1;

    transition: opacity ease $menu_animation;

    .header-menu__links {

      li {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .container {
      opacity: 1;

      transition: opacity ease 1s $menu_animation;
    }


    .header-menu__item {
      transform: translateY(0);
      opacity: 1;

      transition: transform $header_fu $items_animation $menu_animation, opacity $header_fu $items_animation $menu_animation, color ease .3s;
    }
  }

}
