.header {
  @include animation-header-hide;
  position: fixed;
  z-index: z(header);

  width: 100%;
  height: $header_height;

  background-color: $color__light;

  &--scrolling {

    .lang-switcher {
      display: none;
    }
  }

  .container {
    height: 100%;
  }

  &__content {
    align-items: center;
    justify-content: space-between;

    display: flex;
    position: relative;

    //display: flex;
    height: inherit;
    display: grid;
    grid: {
      template: {
        columns: 9fr 3fr;
      };
    };

    &:after {
      @include pseudoElement(100%);
      @include divider;
      position: absolute;
      top: unset !important;

      bottom: -1px;
    }
  }

  &__lang {
    margin-right: 62px;
  }

  &__navigation {
    align-items: center;
    margin-left: 76px;
    display: flex;

    li {
      margin-right: 43px;
    }

    a {
      @include body-secondary;
      color: $color__font--tertiary;
    }
  }


  &__wrap {
    align-items: center;

    display: flex;
    height: 100%;
  }

  &__logo {
    position: relative;
    top: 3px;
  }

}
