.header {
  @include animation-header-hide;
  position: fixed;
  z-index: z(header);

  width: 100%;
  height: $header_height;

  background-color: $color__background_primary;

  &--on-top {}

  &--base {

    .header__content:after {
      max-width: 100%;
    }
  }

  &__menu {

    &-toggle {
      align-items: center;

      display: flex;
      max-width: 0;
      overflow: hidden;
      @include body-secondary;


      transition: all ease .2s;

      &--show {
        max-width: 100px;

        margin-left: 40px;

        transition: all ease .2s 1s;
      }

      .burger {
        flex-direction: column;
        justify-content: space-around;

        position: relative;

        display: flex;
        height: 12px;

        margin-left: 12px;

        &:before, &:after {

          height: 1.5px !important;

          background-color: $color__dark;


        }

        &:before {
          @include pseudoElement(16px);

          position: relative;
        }

        &:after {
          @include pseudoElement(8px);
          position: relative;

        }
      }
    }


  }

  &--animate {

    /*   .header__menu-toggle {
      margin-left: 40px;
      max-width: 70px;
    }*/
  }

  &__content {
    align-items: center;
    justify-content: space-between;

    position: relative;

    //display: flex;
    display: grid;

    height: inherit;
    grid: {
      template: {
        columns: 3.3fr 5.7fr minmax(3fr,5fr);
        areas: 'left . right';
      };
    };

    &:after {
      @include pseudoElement(100%);
      @include divider;
      position: absolute;
      top: unset !important;

      bottom: -1px;
    }
  }

  &__lang {
    margin-right: 62px;
  }

  &__navigation {
    align-items: center;
    justify-content: space-between;

    display: flex;
    width: 42%;

    li:last-child {
      margin-left: 10%;
    }

    a {
      @include body-secondary;
      color: $color__font--tertiary;
    }
  }

  &__wrap {
    align-items: center;

    display: flex;
    height: 100%;

    &-left {
      grid-area: left;

      justify-content: space-between;
    }

    &-right {
      grid-area: right;

      justify-content: flex-end;
    }
  }

  &__logo {
    position: relative;
    top: 3px;
  }

  .container {
    height: 100%;
  }

}

