.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: z(modal);

  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background-color: $color__dark;

  opacity: 0;

  transition: opacity ease $menu_animation $items_animation;

  .container {
    flex-direction: column;

    display: grid;

    height: 100%;

    opacity: 0;

    transition: opacity ease 1s;
    grid-template-rows: 80px auto 88px;
  }

  .divider {
    position: absolute;

    background-color: $color__light_6;
  }

  &__header {
    align-items: center;
    justify-content: space-between;

    position: relative;

    z-index: z(modal);

    display: flex;
    height: 80px;

    &:after {
      @include pseudoElement(100%);
      @include divider;
      position: absolute;
      top: unset !important;

      bottom: -1px;

      max-width: 100%;
    }

    &-wrap {
      align-items: center;

      position: relative;

      display: flex;
      height: 100%;

    }

    &-buttons {
      align-items: center;

      display: flex;
    }

    &-close {
      @include title-link;
      align-items: center;

      display: flex;

      margin-left: 40px;

      color: $color__light;
    }

    &-cross {

      @include cross(35px, 18px, 2px, $color__light);
      position: relative;

      margin-left: 12px;

      border: 1px solid $color__light_6;
      border-radius: 50%;
    }


  }

  &__body {
    flex: 1;

    display: flex;

    padding: 28px 0;

    color: $color__light;

    &-success {
      flex: 1;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      display: flex;

      &-title {
        @include h2;
        margin-bottom: 10px;

        color: $color--font--primary !important;
        font-size: 100px;
        font-weight: 700;
        line-height: 84px;
      }

      &-description {
        text-align: center;
        @include h6;
        color: $color--font--primary;
      }
    }
    @include breakpoint($desktop__laptop-min) {
      padding: 10px 0;
    }
  }

  &__footer {
    position: relative;

    .divider {
      top: 0;
    }

    &-info {
      display: flex;
      @include breakpoint($phone__all) {
        margin-bottom: 24px;
      }
    }

    &-item {
      flex-direction: column;

      display: flex;


      margin-right: 65px;

      span:first-child {
        @include title-link;

        margin-bottom: 4px;

        color: $color__light;
      }

      a {
        @include body-secondary;
        color: $color__font--quaternary;
      }

      @include breakpoint($tablet__large-portrait) {
        margin-right: 54px;
      }
      @include breakpoint($tablet__portrait) {
        margin-right: 30px;
      }
      @include breakpoint($phone__all) {
        margin-right: 24px;
      }
    }


  }

  &__title {
    @include h3;
  }

  &__wrap {
    @extend %footer-component;
    @include breakpoint($phone__all) {
      flex-direction: column;
      align-items: flex-start;
    }

  }

  &--active {
    opacity: 1;

    transition: opacity ease $menu_animation;

    .container {
      opacity: 1;

      transition: opacity ease 1s $menu_animation;
    }

    @include breakpoint($phone__all) {
      overflow: auto;
    }
    @include breakpoint($mobile__all) {
      overflow: auto;
    }
  }

  &--success {

    & > div.container {
      background-color: $color__primary;
    }
  }

  &--light {
    background-color: $color__background_primary;

    .container {
      background-color: $color__background_primary;
    }

    .popup__header-close {
      color: $color__dark;
    }

    .popup__header-cross {

      @include cross(40px, 16px, 1px, $color__dark);
      position: relative;

      border: 1px solid $color__dark_6;
    }

    .divider {
      background-color: $color__dark_6;
    }

    .popup__footer-item {

      span:first-child {
        color: $color__dark;
      }

      a {
        color: $color__font_dark--quaternary;
      }
    }
  }

  @include breakpoint($tablet__large-portrait) {

    .user-info__img {
      justify-content: flex-start;
    }

  }
}
