@import "~hooper/dist/hooper.css";
@import '~normalize.css';
@import 'animation/animation';
@import '_components.scss';
@import 'core/typography';


.c-scrollbar {
  z-index: z(modal);
}

* {
  box-sizing: border-box;
}

body {
  background-color: $color__background_primary;
}
.page {

  &__section {
    padding-top: $header_height + 130px;

  }

  &__tags {
    display: flex;
    @include breakpoint($phone__all) {
      flex-wrap: wrap;
    }
  }

  &__content {
    flex-direction: column;

    display: flex;

    padding: 32px 0;

    .post-section:last-child {

      .divider {
        display: none;
      }

    }
  }

  &__title {
    h2 {
      @include h2;
    }

    align-items: center;
    justify-content: space-between;

    position: relative;

    display: flex;

    padding-bottom: 32px;

    .divider {

      position: absolute;
      bottom: 0;
    }
  }
}
