@import '~normalize.css';
@import 'animation/animation';
@import '_components.scss';
@import 'core/typography';


.c-scrollbar {
  z-index: z(modal);
}

* {
  box-sizing: border-box;
}

body {
  background-color: $color__background_primary;
}
