
$color__primary         : #fbcc2f;

//main colors
$color__light              : #fff;
$color__light_72           : rgba($color__light,.72);
$color__light_54           : rgba($color__light,.54);
$color__light_32           : rgba($color__light,.32);
$color__light_16           : rgba($color__light,.16);
$color__light_6             : rgba($color__light,.06);

$color__dark              : #2d2d2d;
$color__dark_72           : rgba($color__dark, .72);
$color__dark_54           : rgba($color__dark, .54);
$color__dark_32           : rgba($color__dark, .32);
$color__dark_16           : rgba($color__dark, .16);
$color__dark_6            : rgba($color__dark, .06);

//Background color
$color__background_primary: #fafcfd;
$color__gray_light: #f3f5f6;

//font light theme
$color__font--primary    : $color__dark;
$color__font--light      : rgba($color__dark, .72) ;
$color__font--tertiary   : rgba($color__dark, .54) ;
$color__font--quaternary : rgba($color__dark, .32) ;

//font dark theme
$color__font_dark--primary    : $color__light;
$color__font_dark--light      : rgba($color__light, .72) ;
$color__font_dark--tertiary   : rgba($color__light, .54) ;
$color__font_dark--quaternary : rgba($color__light, .32) ;

$color__font--hover      : #000;

//Indicate
$color__error           : #DD3131;
$color__success         : #28BC00;
$color__warning         : #FFC000;


