h1 {
  font-size: 100px;
  font-weight: bold;
  letter-spacing: -.056em;
  line-height: 84px;
}

h2 {
  letter-spacing: -.05em;
  line-height: 60px;
  font: {
    style: normal;
    weight: 500;
    size: 54px;
  }
}

h4 {
  letter-spacing: -1.8px;
  line-height: 32px;
  font: {
    style: normal;
    weight: 500;
    size: 32px;
  }
}

.body {

  &-secondary {
    @include body-secondary;
  }

  &-tertiary {
    @include body-tertiary;
  }
}

.title-link {
  @include title-link;
}

.caption {

  &-nomral {
    @include caption-normal;
  }
}

//@TODO: color fu

.text-color {

  &-primary {
    color: $color__font_dark--primary;
  }

  &-secondary {
    color: $color__font_dark--secondary;
  }

  &-tertiary {
    color: $color__font_dark--tertiary;
  }
}

