h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}
h6 {
  @include h6;
}

.body {

  &-secondary {
    @include body-secondary;
  }

  &-tertiary {
    @include body-tertiary;
  }
}

.title-link {
  @include title-link;
}

.caption {

  &-nomral {
    @include caption-normal;
  }
}

//@TODO: color fu

.text-color {

  &-main {
    color: $color__primary;
  }

  &-primary {
    color: $color__font--primary;
  }

  &-secondary {
    color: $color__font_dark--secondary;
  }

  &-tertiary {
    color: $color__font_dark--tertiary;
  }
}

