$font__line-height: auto;
$font__size: 18px;
$font__weight: normal;
$font__family: 'Formular';
$font__style: sans-serif;
$font__file-name: '#{$font__family}-';
$font__path: '~@/assets/fonts/#{$font__file-name}';
$font__ext: (woff2, woff);
$font__types: (
  ('Black', 900, normal),
  ('Bold', bold, normal),
  ('Medium', 500, normal),
  ('Normal', normal, normal),
);

$header_height: 80px;
$input__font-size: $font__size;
$input__font-color: $color__light;
$input__placeholder-color: $color__light;
$input_height: 50px;

$imgPath: '~static/img';
$iconsPath: '~static/icons/';

$filter_from_black_to_primary: invert(89%) sepia(29%) saturate(3128%) hue-rotate(328deg) brightness(114%) contrast(99%);
$videinfa_function: cubic-bezier(.25,.74,.22,.99);

@import 'components-mixins';
@import '../animation/image';


