$font__line-height: auto;
$font__size: 18px;
$font__weight: normal;
$font__family: 'Formular';
$font__style: sans-serif;
$font__file-name: '#{$font__family}-';
$font__path: '~@/assets/fonts/#{$font__file-name}';
$font__ext: (woff2, woff);
$font__types: (
                ('Black', 900, normal),
                ('Bold', bold, normal),
                ('Medium', 500, normal),
                ('Normal', normal, normal),
);

$header_height: 80px;
$input__font-size: $font__size;
$input__font-color: $color__font--primary;
$input__placeholder-color: gray;
$input_height: 50px;

$imgPath: '~static/img';
$iconsPath: '~static/icons/';

@mixin body-secondary {
  font: {
    style: normal;
    weight: normal;
    size: 14px;
  }

  line-height: 24px;
  letter-spacing: -0.6px;
}

@mixin title-link {
  font: {
    style: normal;
    weight: normal;
    size: 14px;
  }
  line-height: 24px;
  letter-spacing: -0.01em;
  text-decoration-line: underline;
}


