%preventing_outlines {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;

  &:focus, &:active, &:hover {
    outline: none;
  }
}

button {
  @extend %preventing_outlines;
  padding: 0;

  border: none;

  background-color: transparent;

  color: inherit;
  font: inherit;

  cursor: pointer;
}

a {
  @extend %preventing_outlines;
}
