.btn-primary {
  $circle_size: 40px;
  $arrow_size: 12px;
  @extend .title-link;
  align-items: center;

  position: relative;

  display: flex;

  &:after {
    @include pseudoElement($circle_size);
    position: relative;
    z-index: (bg-content);

    margin-left: 12px;

    border-radius: 50%;

    background-color: $color__primary;
  }

  &:before {

    @include pseudoElement($arrow_size,'Arrow.svg');
    position: absolute;
    top: 50%;
    right: ($circle_size - $arrow_size) / 2;

    z-index: z(content);

    transform: translateY(-50%);
  }
}
