.case-item {
  $areas: time, content, img;

  @each $item in $areas {
    &__#{$item} {
      grid-area: $item;
    }
  }

  &__time {
    @include body-secondary;
    color: $color__font--secondary;
  }

  &__img {
    @include image-wrap-animation;

    border-radius: 4px;


  }

  &__wrap {
    display: grid;

    padding-top: 40px;
    padding-bottom: 25px;
    grid: {
      template: {
        columns: 1fr 9fr 3fr;
        areas: 'time content img';
      };
    }
  }

  &__description {
    @include body-secondary;
    max-width: 400px;

    margin-bottom: 40px;
  }

  &__content {
    flex-direction: column;
    justify-content: space-between;

    display: flex;

    padding-left: 7%;

    &-tags {
      display: flex;

      margin-top: 16px;
      margin-bottom: 20px;
    }

    &-buttons {
      display: flex;

      button, a {
        margin-right: 13px;

        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
}
