.case-item {
  $areas: time, content, img;

  @each $item in $areas {
    &__#{$item} {
      grid-area: $item;
    }
  }

  &__time {
    @include body-secondary;
    color: $color__font--secondary;
  }

  &__img {
    overflow: hidden;

    border-radius: 4px;

    img {
      @include size(100%);
      object-fit: cover;

      transition: all $videinfa_function .8s;
    }

    &:hover {

      img {
        transform: scale(1.2);
      }
    }
  }

  &__wrap {
    display: grid;

    padding-top: 40px;
    padding-bottom: 20px;
    grid: {
      template: {
        columns: 1fr 9fr 3fr;
        areas: 'time content img';
      };
    }
  }

  &__description {
    @include body-secondary;
    max-width: 400px;

    margin-bottom: 40px;
  }

  &__content {

    &-tags {
      display: flex;

      margin-top: 16px;
      margin-bottom: 20px;
    }

    &-buttons {
      display: flex;

      button, a {
        margin-right: 13px;

        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
}
