.case-item {
  $areas: time, content, img;

  @each $item in $areas {
    &__#{$item} {
      grid-area: $item;
    }
  }

  &__time {
    @include body-secondary;
    padding-top: 9px;

    color: $color__font_dark--secondary;
    @include breakpoint($phone__all) {
      margin-bottom: 16px;
      padding-top: 0;
    }
  }

  &__img {
    @include image-wrap-animation;

    border-radius: 4px;
    @include breakpoint($desktop__all) {
      height: 248px;
      width: 326px;
    }

  }

  &__wrap {
    display: grid;

    padding: 32px 0;
    grid: {
      template: {
        columns: 1fr 9fr 326px;
        areas: 'time content img';
      };
    }
    @include breakpoint($desktop__all) {
      height: 312px;
    }
    @include breakpoint($tablet__landscape) {
      grid-template-columns: 2fr 6fr 326px;
    }
    @include breakpoint($tablet__portrait) {
      grid: {
        row-gap: 32px;
        template: {
          columns: 1fr 5fr;
          rows: repeat(2, auto);
          areas: 'time content' 'img img';
        };
      }
    }

    @include breakpoint($phone__all) {
      flex-direction: column;

      display: flex;
    }
  }

  &__description {
    @include body-secondary;
    max-width: 400px;

    margin-bottom: 40px;
    @include breakpoint($phone__all) {
      margin-bottom: 24px;
    }
  }

  &__content {
    flex-direction: column;
    justify-content: flex-start;

    display: flex;

    padding-top: 10px;

    padding-left: 7.4%;

    &-tags {
      display: flex;

      margin-top: 16px;
      margin-bottom: 20px;
      @include breakpoint($phone__all) {
        margin-top: 12px;
        flex-wrap: wrap;
        button {
          margin-bottom: 8px;
        }
      }
    }

    &-buttons {
      display: flex;

      margin-top: auto;

      button, a {
        margin-right: 13px;

        &:first-child {
          padding-left: 0;
        }

      }
    }

    @include breakpoint($phone__all) {
      padding: 0;
    }

    @include breakpoint($tablet__landscape) {
      padding-left: 0;
    }

    @include breakpoint($phone__all) {
      margin-bottom: 32px;
    }
  }
}
