.form {
  flex: 1;
  flex-direction: column;

  display: flex;

  &__heading {
    margin-bottom: 28px;
    grid-area: heading;
  }

  &__title {
    @include h3;
    margin-bottom: 8px;
  }

  &__description {
    @include body-secondary;
  }

  &__item {
    overflow: hidden;

    margin-bottom: 1px;


  }

  &__body {
    flex-direction: column;
    align-self: center;

    display: flex;

  }

  &__content {
    display: grid;
    height: 100%;


    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
  }

  &__submit {
    grid-area: submit;

    align-items: center;
    justify-content: space-between;

    display: flex;
    width: 100%;

    margin-top: 12px;

    transition: all ease .2s;

    &-estimate {
      margin-top: 44px;
    }

    .arrow {
      transform: translate(-50%, -50%) scale(.2) rotate(0);
    }

    button {
      margin-left: auto;

      &:hover {
        transform: translateX(5px);

        .arrow {
          background-color: $color__dark;

          &:after, &:before {
            background-color: $color__dark;
          }
        }
      }
    }

    .button__wave {
      background-color: transparent !important;
    }
  }

  &__right {

    flex-direction: column;
    justify-content: center;

    display: flex;
  }

  &__users {
    justify-content: flex-end;

    display: flex;
    width: 100%;

    margin-top: auto;

    .user-info {
      align-items: flex-start;

      &__contact-info {
        margin-right: 0;
      }

    }
  }

  &__footer {
    align-items: center;
    justify-content: space-between;

    position: relative;

    display: flex;

    padding: 28px 0;

    .divider {
      position: absolute;
      top: 0;

      padding-top: 0;
    }


  }

  &__file {
    grid-area: file;

    label {

      cursor: pointer;
    }

    input {
      display: none;
    }
  }

  &__terms {
    @include title-link;
    text-decoration-line: none;

    a {
      color: $color__light;
      text-decoration-line: underline;
    }

  }

  &__tags {
    margin-bottom: 132px;

    &-wrap {
      flex-wrap: wrap;
      justify-content: center;

      display: flex;
      max-width: 600px;

      margin: 0 auto;
    }

    &-title {
      @include body-secondary;
      //margin-bottom: 36px;
      margin-bottom: 27px;

      text-align: center;
    }


  }

  &-estimate {

    .form__heading {
      margin-bottom: 0;
    }

    .form__title {
      margin-bottom: 0;
    }

    .form__body {
      @for $i from 1 through 6 {

        .form__item:nth-of-type(#{$i+1}) {
          grid-area: input#{$i};
        }
      }
      display: grid;
      grid: {
        column-gap: 24px;
        template: {
          columns: repeat(2, 1fr);
          rows: 64px repeat(6,auto);
          areas: 'heading heading' 'input1 input1' 'input2 input3' 'input4 input5' 'input6 input6' 'file file' 'submit submit';
        };
      };

      .form__item {
        margin-bottom: 12px;
      }
    }
  }

  .user-info {
    flex-direction: column;

    &__contact-info {
      align-self: unset !important;

      margin-bottom: 16px;
    }
  }

}
