.form {
  flex: 1;
  flex-direction: column;

  display: flex;
&__heading {
  margin-bottom: 40px;
}
  &__title {
    @include h3;
    margin-bottom: 8px;
  }

  &__description {
    @include body-secondary;
  }

  &__item {
    margin-bottom: 15px;
  }

  &__body {
    flex-direction: column;
    justify-content: space-between;

    display: flex;

    &-estimate {
      @for $i from 1 through 6 {

        & > label:nth-of-type(#{$i}) {
          grid-area: input#{$i};
        }
      }
      display: grid;
      grid: {
        column-gap: 24px;
        template: {
          columns: repeat(2,1fr);
          rows: auto;
          areas: 'input1 input1' 'input2 input3' 'input4 input5' 'input6 input6';
        };
      };
    }
  }

  &__content {
    display: grid;

    padding-bottom: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 155px;
  }

  &__submit {
    @include title-link;
    align-items: center;
    justify-content: space-between;

    display: flex;
    width: 100%;

    transition: all ease .2s;
    button {
      margin-left: auto;
    }
    .button__wave {
      background-color: transparent !important;
    }

    .arrow {
      transform: translate(-50%, -50%) scale(.2) rotate(0);
    }

    &:hover {
      transform: translateX(5px);

      .arrow {
        background-color: $color__dark;

        &:after, &:before {


          background-color: $color__dark;

        }
      }
    }
  }

  &__right {
    align-items: flex-end;

    display: flex;
  }

  &__users {
    justify-content: flex-end;

    display: flex;
    width: 100%;

    .user-info {
      align-items: flex-end;

      &__contact-info {
        margin-right: 0;
      }

      &__img {
        justify-content: flex-end;

        display: flex;
      }
    }
  }

  &__footer {
    align-items: center;
    justify-content: space-between;

    position: relative;

    display: flex;

    padding: 28px 0;

    .divider {
      position: absolute;
      top: 0;

      padding-top: 0;
    }


  }

  .user-info {
    flex-direction: column;

    &__contact-info {
      align-self: unset !important;

      margin-bottom: 16px;
    }
  }

}
