.service-item {
  $areas: img, content, buttons;
  @each $area in $areas {
    &__#{$area} {
      grid-area: #{$area};
    }
  }

  &__wrap {
    display: grid;

    padding: 32px 0;

    grid: {
      column-gap: 58px;
      template: {
        columns: 3fr 9fr 1fr;
        areas: 'img content buttons';
      };
    }
    @include breakpoint ($tablet__all) {
      grid-template-columns: 2fr 3fr 1fr;
    }
  }

  &__img {
    @include image-wrap-animation;
    width: 326px;
    height: 245px;
    overflow: hidden;

    border-radius: 4px;

    background-color: gray;
  }

  &__content {
    flex-direction: column;
    justify-content: flex-start;

    display: flex;

    a {
      margin-top: auto;
    }

    &-buttons {
      justify-self: end;

    }
  }

  &__description {
    @include body-secondary;
    max-width: 310px;

    margin-top: 16px;
    //margin-bottom: auto;
  }

  &__btn-open {

    @include size(44px);
    position: relative;

    border-radius: 50%;

    background-color: $color__dark;

    color: $color__light;
    font-size: 20px;

    cursor: pointer;

    transition: all ease .2s;
    justify-self: end;

    &:hover {
      transform: scale(1.1);
    }

    &:after {
      @include pseudoElement(26px,'Plus.svg');
      filter: invert(1);

      top: calc(50%);
      left: 50%;

      color: $color__light;

      transform: translate(-50%, -50%);
    }
  }
}
