.page {

  h1 {
    color: $color__font--primary;
  }
  &__section {
    padding-top: $header_height + 130px;

  }

  &__tags {
    display: flex;
    @include breakpoint($phone__all) {
      flex-wrap: wrap;
    }
  }

  &__content {
    flex-direction: column;

    display: flex;

    padding: 32px 0;

    .post-section:last-child {

      .divider {
        display: none;
      }

    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;

    p {
      @include body-secondary;
      margin-bottom: 20px;

      color: $color__font_dark--quaternary;
    }

    .divider {
      position: absolute;
      bottom: 0;
    }

    @include breakpoint($phone__all) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      div:first-child {
        margin-bottom: 24px;
      }
    }
  }

  &__tags {

  }

  &__title {

    align-items: center;
    justify-content: space-between;

    position: relative;

    display: flex;

    padding-bottom: 32px;

    h2 {
      @include h2;
    }

    .divider {

      position: absolute;
      bottom: 0;
    }
  }
}
