$animation-directions: (top,bottom,left,right);
$base_fu: cubic-bezier(.250, .460, .450, .94);
$base_duration: 1.2s;



@each $direction in $animation-directions {
  $px_value: 150px;
  .animation-move-from-#{$direction} {
    @if $direction==top {
      transform: translateY(-$px_value);
    }
    @if $direction==bottom {
      transform: translateY($px_value);
    }
    @if $direction==left {
      transform: translateX($px_value);
    }
    @if $direction==right {
      transform: translateX(-$px_value);
    }
    opacity: 0;

    transition: transform $base_duration $base_fu,opacity $base_duration $base_fu;
  }
}

@for $i from 1 through 10 {
  .animation-delay-#{$i} {
    transition-delay: #{$i * .1s} !important;
  }
}

.animation-fade {
  opacity: 0;

  transition: opacity cubic-bezier(.390, .575, .565, 1.000) $base_duration,;
}

.animation-mask {
  position: relative;

  overflow: hidden;

  & > * {
    transform: translateY(120%);
    opacity: 0;

    transition: transform $base_fu $base_duration .2s, opacity $base_fu $base_duration .2s;
  }
}

.in-viewport, .popup--active, .header-menu--active, .header--base,.animation-trigger-start {
  @each $direction in $animation-directions {
    .animation-move-from-#{$direction} {
      transform: translateX(0) translateY(0);
      opacity: 1;
    }
  }

  .animation-fade {
    opacity: 1;
  }

  .animation-mask {

    & > * {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
