@mixin divider-animation {
  transition: transform .4s $videinfa_function;
  transform: translateY(-100%);
}

.animation-trigger-start .divider, .in-viewport .divider {
  max-width: 100%;
}

header.animation-base-state .header__content:after {
  max-width: 100%;
}
