@mixin divider-animation {
  transform: translateY(-100%);

  transition: transform .4s $videinfa_function;
}

.animation-trigger-start, .in-viewport ,.header-menu--active,.popup--active {

  .divider {
    max-width: 100%;
  }

}

header.animation-base-state .header__content:after, .in-viewport .section__header:after ,.in-viewport .post__header:after {
  max-width: 100% !important;
}
