.header-menu {
  $menu_animation: .5s;
  $items_animation: 1s;
  $header_fu: cubic-bezier(.41, 0, .13, 1.005);
  opacity: 0;

  transition: opacity ease $menu_animation $items_animation;


  .container {
    opacity: 0;

    transition: opacity ease 1s ;
  }

  &__item {
    transform: translateY(100%);
    opacity: 0;

    transition: transform $header_fu $items_animation, opacity $header_fu $items_animation, color ease .3s;

  }

  &--active {
    opacity: 1;

    transition: opacity ease $menu_animation;
    // transition: all ease $menu_animation;

    .container {
      opacity: 1;
      transition: opacity ease 1s $menu_animation;
    }

    .header-menu__item {
      transform: translateY(0);
      opacity: 1;

      transition: transform $header_fu $items_animation $menu_animation, opacity $header_fu $items_animation $menu_animation, color ease .3s;
    }
  }
}


/*.popup-fade-enter-active, .popup-fade-leave-active {
  transition: opacity 2s;
  opacity: 1;
}

.popup-fade-enter, .popup-fade-leave-to !* .fade-leave-active до версии 2.1.8 *!
{
  opacity: 0;
}*/

/* Анимации появления и исчезновения могут иметь */
/* различные продолжительности и динамику.       */

