//Animation duration
$animation-fast: .4s;
$animation-medium: .4s;
$animation-slow: .8s;

//Loading ring
// class = lds-ring > .div*4
$ring-color: rebeccapurple;
$ring-animation-duration: 1.8s;
$ring-weight: 5px;

@mixin animation-base {
  transition: all ease $animation-fast;
}

@mixin animation-base-state {
  transform: translateY(0) translateX(0) scale(1) !important;
}

.animation-base-state {
  @include animation-base-state
}

@import 'keyframes';
@import 'header';
@import 'divider';
@import 'image';
@import 'about';
